html {
  font-family: Georgia, serif;
}

body {
  margin: 0 auto;
  max-width: 51em;
}

.logo {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 45px;
  margin-top: 0;
}
.logo a:link, .logo a:visited, .logo a:hover, .logo a:active {
  background-color: #e45036;
  color: #fff;
  display: inline-block;
  margin-left: -1em;
  padding: 0 1em;
  text-decoration: none;
}

.light {
  font-weight: normal;
}

.post-header {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  margin-top: 3em;
}

h2 {
  color: #333;
  font-size: 2em;
  margin-bottom: 0px;
}

.post-header p {
  color: #999;
  font-size: 1em;
  margin-top: 0px;
}

h3 {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  margin-bottom: 0;
  margin-top: 1.6em;
}

h3 + p {
  margin-top: 0.5em;
}

p {
  color: #666;
  font-size: 1.4em;
  line-height: 1.4em;
  max-width: 28em;
}

.code-caption {
  font-family: monospace,monospace;
  font-size: 1em;
  margin: 0 0 0 -1em;
}

.code-caption span {
  background-color: #e28964;
  display: inline-block;
  padding: 0.5em 1em;
}


.highlight {
  margin: 0 0 0 -1em;
  padding: 0.5em 1em;
}

img {
  border: 1px solid #bbb;
}

.image-caption {
  margin-top: -1.5em;
  font-size: 1em;
  font-style: italic;
}

.image-caption span {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
}

.footnote {
  font-size: 1em;
  max-width: 40em;
  margin-top: 4em;
}

.marker {
  margin-left: -0.7em;
}

blockquote p {
  font-size: 1.2em;
}

blockquote em {
  font-size: 0.9em;
  color: #333;
}

.post, #home {
  margin-bottom: 6em;
}

.posts {
  margin-top: 3em;
}

#home ul { 
  font-size: 1.4em;
  list-style-type: none;
  padding: 0;
}

#home li span {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #999;
}

a:link, a:visited {
  color: #e45036;
  text-decoration: none;
}
a:hover, a:active {
  color: #333;
}

a:active {
  text-decoration: underline;
}

.posts a:link, .posts a:visited {
  color: #666;
  text-decoration: none;
}
.posts a:hover, .posts a:active {
  color: #e45036;
}

.posts a:active {
  text-decoration: underline;
}

.footer p {
  color: #999;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.footer a:link, .footer a:visited {
  color: #999;
  text-decoration: none;
}

.footer a:hover, .footer a:active {
  color: #e45036;
}
