<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/sunburst.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="logo"><a href="/">Ember<span class="light">Watch</span> Blog</a></h1>
            </div>

                {{ content }}

            <div class="footer">
              <p>
                <a href="/">home</a> &middot;
                <a href="http://www.emberwatch.com">emberwatch.com</a> &middot; 
                <a href="https://twitter.com/emberwatch">@EmberWatch</a> &middot; 
                <a href="http://github.com/emberwatch">GitHub</a>
              </p>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
